html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	font-family: Lato;
	background-color: rgb(75, 75 ,75);
}

#wrapper {
	width: 386px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.25rem;
	color: #ccc;
	margin-bottom: 0;
}

p {
	color: white;
	font-size: 1.6rem;
	line-height: 200%;
}

#grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 6px;
	justify-content: center;
	width: 386px;
	height: 386px;
	border-radius: 4px;
	background-color: rgb(60, 60, 60);
}

#grid div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.label {
	font-size: 1.4rem;
	color: rgb(210, 210, 210);
}

.label-row {
	margin-left: 4px;
}

.label-col {
	margin-top: 4px;
}

input {
	color: rgb(240, 240, 240);
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.9rem;
	outline: none;
	border: 2px solid rgb(90, 90, 90);
	border-radius: 5px;
	background-color: rgb(120, 120, 120);
}

input:focus {
	border: 2px solid rgb(60, 60, 60);
	background-color: rgb(140, 140, 140);
}

.input-row {
	margin-left: -6px;
}

.input-col {
	margin-top: -6px;
}

.output {
	background-color: rgb(70, 70, 70);
}

.darken {
	background-color: rgb(70, 70, 70);
	border-color: rgb(70, 70, 70);
	color: rgb(130, 130, 130);
}

.lighten {
	 background-color: rgb(90, 90, 90);
}

#controls {
	margin-top: 6px;
	background-color: rgb(60, 60, 60);
	width: 280px;
	border-radius: 4px;
	padding: 6px;
	box-sizing: border-box;
	display: flex;
}

button {
	cursor: pointer;
	border: 2px solid rgb(130, 130, 130);
	font-family: Lato;
	border-radius: 4px;
	padding: 8px 43px;
	background-color: rgb(120, 120, 120);
	color: rgb(230, 230, 230);
	outline: none;
	flex: 1;
	font-size: 1.6rem;
}

button:hover {
	background-color: rgb(140, 140, 140);
	border: 2px solid rgb(160, 160, 160);
}

button:active {
	background-color: rgb(100, 100, 100);
	border: 2px solid rgb(80, 80, 80);
}

#solve {
	margin-right: 3px;
}

#reset {
	margin-left: 3px;
}

.star {
	background-image: url('star.svg');
	background-repeat: no-repeat;
	background-size: 36px;
	background-position: center;
}

@media screen and (max-width: 480px) {
	p {
		padding: 0 10px;
		font-size: 1.4rem;
	}
	#grid {
		width: 326px;
		height: 326px;
	}
	input {
		width: 32px;
		height: 32px;
	}
	#controls {
		width: 326px;
	}
	button {
		font-size: 1.4rem;
	}
	.star {
		background-size: 28px;
	}
}